.khan__buy-link {
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  margin-left: 48px;
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: .6;
  transition: all .2s ease-in;
}
